@font-face {
  font-family: 'acmeregular';
  src: url('Fonts/Acme-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('Fonts/open-sans.regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'melanserif';
  src: url('Fonts/MelancholySerif-zoGL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('Fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('Fonts/JosefinSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: zombie;
  src: url('Fonts/Zombified.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: belithel;
  src: url('Fonts/BelithelDemoRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: valentine;
  src: url('Fonts/Valentine\ Dream.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: condensed;
  src: url('Fonts/OpenSans-CondLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: robo;
  src: url('Fonts/RobotoMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: quesha;
  src: url('Fonts/Quesha-gndR.ttf');
  font-weight: normal;
  font-style: normal;
}

.headerline {
  width: 0%;
  height: 3px;
  transition: width 0.5s;
  background: 
    linear-gradient(to right, #4da4dd,  #033a61) border-box;
}

.header.one {
  left:90%;
  top: 15px;
  font-size: 35px;
}

.header.two {
  left:80%;
  top: 15px;
  font-size: 35px;
}

.header.three {
  left:70%;
  top: 15px;
  font-size: 35px;
}

.header.four {
  left:61%;
  top: 15px;
  font-size: 35px;
}

.cat{
  max-width: 50%;
  position: relative;
  top: 125px;
  left:15%;
}

.cat_div{
  right:40%;
  width: 50%;
  max-width: 1000px;

}

.aboutText{
  font-size: 26px;
  margin-left: 30px;
  margin-right: 0px;
}

@media only screen and (max-width:1430px) {
  .header.one {
    left: 600px;
    
  }
  .header.two {
    left:425px;
    
  }
  .header.three {
    left: 250px;
    
  }
  .header.four {
    left:100px;
    
  }
  .cat{
    max-width: 65%;
    left: 10%;
    top:150px;
  }
  .aboutText {
    font-size: 16px;
  }

}



@media only screen and (max-width:720px) {
  .header.one {
    left: 270px;
    font-size: 16px;
    top: 27px;
  }
  .header.two {
    left:200px;
    font-size: 16px;
    top: 27px;
  }
  .header.three {
    left: 130px;
    font-size: 16px;
    top: 27px;
  }
  .header.four {
    left:75px;
    font-size: 16px;
    top: 27px;
  }
  .cat{
    max-width: 75%;
    left: 10%;
  }
  .aboutText {
    font-size: 16px;
  }
}

@media only screen and (min-width:2000px) {
  .cat{
    top: 130px;
    left: 25%;
  }
.aboutText {
  font-size: 30px;
}
}

.header:hover .headerline {
  width: 100%;
}



section{
  display: block;
  width: 80px;
  height: 5px;
  margin: 10px auto;
  background: 
    linear-gradient(to right, #4da4dd,  #033a61) border-box;
    
}

.reviewsText::-webkit-scrollbar {
  display:none;
}

.aboutText::-webkit-scrollbar {
  display:none;
}

html,body {
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Change for Contact EMAIL */
}

body::-webkit-scrollbar {
  display:none;

}



div::-webkit-scrollbar {
  height: 10px;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

.icon:hover {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.2);
  }
}

.arrow.one:hover {
  animation: MoveUpDown1 1s linear infinite;
}

@keyframes MoveUpDown1 {
  0%, 100% {
    top: 30px;
  }
  50% {
    top: 35px;
  }
}

.arrow.two:hover {
  animation: MoveUpDown2 1s linear infinite;
}

@keyframes MoveUpDown2 {
  0%, 100% {
    bottom: -15px;
  }
  50% {
    bottom: -25px;
  }
}

.circle {
  position: absolute;
  padding: 0;
  margin: 13px auto;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border:1px solid black ;
  list-style: none;
  overflow: hidden;
  left: 10px;
}
.inner {
  position: absolute;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 187px;
  height: 205px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  left: -70px;
  top: -95px;
}
li {

}
li .color {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
li:first-child .color {
  transform: rotate(0deg) skewY(30deg);
}
li:nth-child(2) .color {
  transform: rotate(120deg) skewY(30deg);
}
li:nth-child(3) .color {
  transform: rotate(240deg) skewY(30deg);
}
li:first-child .color {
  background: #033a61;
}
li:first-child .color:hover {
  background: #0095ff;
}
li:nth-child(2) .color {
  background: rgb(158, 158, 9);
}
li:nth-child(2) .color:hover {
  background: rgb(255, 251, 0);
}
li:nth-child(3) .color {
  background: #00250b;
}
li:nth-child(3) .color:hover {
  background: rgb(0, 255, 76);
}
.link{
  
  color: rgb(158, 158, 9);
  border-bottom: 1px dotted #000;
  text-decoration: none;
  transition: color 200ms linear;
}

.link:hover{
  color: yellow;
  transition: color 200ms linear;
}
