@font-face {
  font-family: 'acmeregular';
  src: url('Fonts/Acme-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'melanserif';
  src: url('Fonts/MelancholySerif-zoGL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

