@font-face {
  font-family: 'acmeregular';
  src: url('Fonts/Acme-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('Fonts/open-sans.regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'melanserif';
  src: url('Fonts/MelancholySerif-zoGL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

section{
  display: block;
  width: 80px;
  height: 5px;
  margin: 10px auto;

  
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  


  background: 
    linear-gradient(to right, #4da4dd,  #033a61) border-box;
    
}

.circle {
  position: absolute;
  padding: 0;
  margin: 13px auto;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border:1px solid black ;
  list-style: none;
  overflow: hidden;
  left: 10px;
}
.inner {
  position: absolute;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 187px;
  height: 205px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  left: -70px;
  top: -95px;
}
li {

}
li .color {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
li:first-child .color {
  transform: rotate(0deg) skewY(30deg);
}
li:nth-child(2) .color {
  transform: rotate(120deg) skewY(30deg);
}
li:nth-child(3) .color {
  transform: rotate(240deg) skewY(30deg);
}
li:first-child .color {
  background: #033a61;
}
li:nth-child(2) .color {
  background: rgb(158, 158, 9);
}
li:nth-child(3) .color {
  background: #00250b;
}
.link{
  color: rgb(158, 158, 9);
  border-bottom: 1px dotted #000;
  text-decoration: none;
  transition: color 200ms linear;
}

.link:hover{
  color: yellow;
  transition: color 200ms linear;
}
